body {
    font-family: sans-serif;
}

#calendario {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.dias-semana {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dias-semana span {
    display: block;
    width: 14.28%; /* 100% dividido en 7 días */
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
}

#dias-contenedor {
    display: flex;
    flex-wrap: wrap;
}

.dia {
    width: 14.28%; /* Mismo ancho que los días de la semana */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.dia h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.tarea {
    display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.tarea:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

#agregar-tarea {
    margin-top: 20px;
    text-align: center;
}

#nuevaTarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
}

#btnAgregar {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
